<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.qualitysolutions.tecniamsa" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,label" >
        <activity android:name=".A_Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dispositivos"
            android:label="Seleccion de Dispositivo" >
        </activity>
        <activity
            android:name=".RegistrarPeso"
            android:label="Registrar Pesos" >
        </activity>
        <activity
            android:name=".RegistrarBarras"
            android:label="Registrar Barras" >
        </activity>
        <activity
            android:name=".A_LoginSecond"
            android:label="@string/title_activity_a__login_second" >
        </activity>
        <activity
            android:name=".B_MenuPrincipal"
            android:label="@string/title_activity_b__menu_principal" >
        </activity>
        <activity
            android:name=".E_MenuCiclo"
            android:label="@string/title_activity_e__menu_ciclo" >
        </activity>
        <activity
            android:name=".F_Seleccionar_cliente"
            android:label="@string/title_activity_f__seleccionar_cliente" >
        </activity>
        <activity
            android:name=".F_Datos_cliente"
            android:label="@string/title_activity_f__datos_cliente" >
        </activity>
        <activity
            android:name=".G_TrazasEmbalaje"
            android:label="@string/title_activity_g__trazas_embalaje" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".C_GrupoTrabajo"
            android:label="@string/title_activity_c__grupo_trabajo" >
        </activity>
        <activity
            android:name=".C_SeleccionarOperarios"
            android:label="@string/title_activity_c__seleccionar_operadores" >
        </activity>
        <activity
            android:name=".D_RegistrarDatosVehiculo"
            android:label="@string/title_activity_d__registrar_datos_vehiculo"

            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>
    </application>

</manifest>
